<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Tsuru No Mundo is a project that tells stories through origami"
    />
    <meta name="keywords" content="Tsuru, Mundo, Origami, Art" />
    <meta name="author" content="Facundo Leites" />
    <meta name="robots" content="index, follow" />
    {{#if coverImage}}
    <meta property="og:image" content="{{coverImage}}" />
    {{else}}
    <meta property="og:image" content="/img/seo.png" />
    {{/if}}
    {{#if title}}
    <title>{{title}} - Tsuru No Mundo</title>
    {{else}}
    <title>Tsuru No Mundo</title>
    {{/if}}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  {{#if mainColor}}
  <body style="--main-color:{{mainColor}}; --main-color-contrast:{{mainColorContrast}};">
  {{else}}
  <body>
  {{/if}}
    {{> header }}
    <main>
        {{> @partial-block}}
    </main>
    {{> footer }}
  </body>
</html>
